<!DOCTYPE html>
<head>
	<title>忘记密码</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/templatemo_style.css" rel="stylesheet" type="text/css">	
</head>
<body class="templatemo-bg-gray">
	<div class="container">
		<div class="col-md-12">
			<h1 class="margin-bottom-15">Password Reset</h1>
			<form class="form-horizontal templatemo-forgot-password-form templatemo-container" role="form" action="/Account/change-submit" method="get">	
						
		    
				
					
		    
				
				<div class="form-group">
		      <div class="col-md-12">
		        请输入你的新密码:
		      </div>
		    </div>		
		    <div class="form-group">
		        <div class="col-md-12">
		          <input type="text" class="form-control" id="password" name="new_password" placeholder="新密码">	            
		        </div>              
		    </div>

				<div class="form-group">
		      <div class="col-md-12">
		        再次输入新密码:
		      </div>
		    </div>		
		    <div class="form-group">
		        <div class="col-md-12">
		          <input type="text" class="form-control" id="password" name="comfirm_new_password" placeholder="再次输入">	            
		        </div>              
		    </div>

		    <div class="form-group">
		      <div class="col-md-12">
		        <input type="submit" value="提交" class="btn btn-danger">
              <br><br>
              <a href="login-1">登录</a>
		      </div>
		    </div>
			</form>
		</div>
	</div>
</body>
</html>